.box::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}

.box::-webkit-scrollbar-track {
  background: #FFDE59;  
  border-top-right-radius: 1rem;   
  border-bottom-right-radius: 1rem;    /* color of the tracking area */
}

.box::-webkit-scrollbar-thumb {
  background-color: #a9a9a9;    /* color of the scroll thumb */
  border-radius: 1rem;       /* roundness of the scroll thumb */
  border: 3px solid #FFDE59;  /* creates padding around scroll thumb */
}

.main {
  width: 100%;
}

.box {
  background-color: #fff;
  border-radius: 0.5rem;
  width: 50%;
  height: 50%;
  margin: 5% auto;
  padding: 2%;
  display: grid;
  grid-template-columns: 1fr 1fr;

  &__item {
    background-color: #FFDE59;
    //width: 40%;
    //height: 20%;
    border-radius: 1rem;
    padding: 1%;
    margin: 2%;
  }

  &__item:hover {
    transition: 0.2s;
    background-color: #b49722;
  }
}